{% extends "campaign.html" %}
{% block content %}
<div class="tab-content active" id="npc">
    <div class="filters">
        <input type="text" id="search-npc-name" placeholder="Поиск по имени..." class="form-input">
        <input type="text" id="filter-npc-class" placeholder="Фильтр по классу" class="form-input">
        <input type="number" id="filter-npc-level" placeholder="Уровень" min="1" max="20" class="form-input">
    </div>

    <div class="scroll-vertical-container">
        <table class="stats-table" id="npc-table">
            <thead>
            <tr>
                <th>Изображение</th>
                <th>Имя</th>
                <th>Класс</th>
                <th>Уровень</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for npc in campaign.npcs %}
            <tr class="npc-row"  data-name="{{ npc.name }}"
                data-class="{{ npc.char_class or '' }}"
                data-level="{{ npc.level or 0 }}">
                    <td>
                        {% if npc.image %}
                        <img src="{{ url_for('static', filename=npc.image) }}" alt="{{ npc.name }}" width="50">
                        {% else %}
                        <span>Без изображения</span>
                        {% endif %}
                    </td>
                    <td>{{ npc.name }}</td>
                    <td>{{ npc.char_class or '—' }}</td>
                    <td>{{ npc.level or '—' }}</td>
                    <td>
                        <a href="{{ url_for('npc_editor', title=campaign.title, name_npc=npc.name) }}" class="btn player-btn">Редактировать</a>
                        <button type="button" class="btn npc-delete-btn" data-npc-id="{{ npc.id }}">Удалить</button>
                        <div id="npc-container" data-campaign-title="{{ campaign.title.replace(' ', '_') }}"></div>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ url_for('add_npc', title=campaign.title) }}" class="btn add-player-btn">+ Добавить NPC</a>
</div>
{% endblock %}