{% extends "campaign.html" %}
{% block content %}
<div class="tab-content active">
    <div class="filters">
        <input type="text" id="search-item-name" placeholder="Поиск по названию..." class="form-input">
        <input type="text" id="filter-item-type" placeholder="Фильтр по типу" class="form-input">
        <input type="text" id="filter-rarity" placeholder="Фильтр по редкости" class="form-input">
    </div>
    <div class="scroll-vertical-container">
        <table class="stats-table" id="item-table">
            <thead>
            <tr>
                <th>Изображение</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Редкость</th>
                <th>Стоимость</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in campaign.items %}
            <tr class="item-row"
                data-name="{{ item.name }}"
                data-type="{{ item.item_type or '' }}"
                data-rarity="{{ item.rarity or '' }}">
                <td>
                    {% if item.image %}
                    <img src="{{ url_for('static', filename=item.image) }}" alt="{{ item.name }}" width="50">
                    {% else %}
                    <span>Без изображения</span>
                    {% endif %}
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.item_type or '—' }}</td>
                <td>{{ item.rarity or '—' }}</td>
                <td>{{ item.value or '—' }}</td>
                <td>
                    <a href="{{ url_for('item_editor', title=campaign.title, name_item=item.name) }}" class="btn save-btn">Редактировать</a>
                    <button type="button" class="btn item-delete-btn" data-item-id="{{ item.id }}">Удалить</button>
                    <div id="items-container" data-campaign-title="{{ campaign.title.replace(' ', '_') }}"></div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ url_for('add_item', title=campaign.title) }}" class="btn add-player-btn">+ Добавить предмет</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/campaign.js') }}"></script>
{% endblock %}