
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
{% endblock %}

{% block content %}
    <nav class="navbar">
      <div class="nav-container">
        <a href="/" class="logo">
          <span class="logo-icon">⚔️</span>
          <span>Campaign Architect</span>
        </a>
        <div class="nav-links">
          <a href="{{ url_for('campaigns') }}" class="nav-link">Мои кампании</a>
          <a href="{{ url_for('new_campaign') }}" class="nav-link">Создать новую</a>
          <a href="#" class="nav-link">Профиль</a>
        </div>
      </div>
    </nav>
{% endblock %}